.primary-button {
  background-color: #ff632c;
  color: #fff;
  border: 1px solid #ff632c;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.primary-button:hover {
  background-color: #f9c83e;
  border: 1px solid #f9c83e;
}

.secondary-button {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  color: #ff632c;
  cursor: pointer;
}

.secondary-button:hover {
  transform: scale(1.1);
  color: #f9c83e;
}