.todos-count {
  font-size: 30px;
  padding-bottom: 15px;  
}

.loading {
  color: #ff632c;
}

.wrapper {
  max-width: 762px;
  width: 100%;
  padding-top: 60px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1a1a1a;
}

.todos {
  display: flex;
  align-items: flex-start;
}